
# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/

# Coverage files
.coverage

# SQLite database (if you ever use one)
*.db
.env
.env.docker

